@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-neutral-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark){
  html, body {
    @apply bg-neutral-900 text-neutral-50;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

svg {
  cursor: pointer;
}

.btn {
  @apply bg-black text-white uppercase text-sm font-medium px-4 py-3 tracking-widest;
  
}

p {
  font-weight: 400;
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: #B1864E 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Oswald,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @apply tracking-widest flex items-center gap-4;
}
.button-52 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Oswald,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @apply tracking-widest flex items-center gap-4;
}
.button-51 {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: #3D5816 4px 4px 0 0,#fff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Oswald,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @apply tracking-widest flex items-center gap-4;
}

.button-50:focus, .button-51:focus, .button-51:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active, .button-51:active, .button-52:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active, .button-51:not([disabled]):active,
.button-51:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


h1 {
	font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ee852a,
						20px 20px transparent;
}

.sizeBtn {
  @apply border rounded-lg py-3 dark:border-neutral-700;
}

.productBtn:active {
  border-bottom: var(--border);
  transform: translateY(5px);
}

